# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\djangoProject\learn_housekeeping_service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
